<div class="single-page-app">
  <% if user_signed_in? %>
    <div ui-view></div>
  <% else %>
    <%= render partial: 'shared/flash' %>

    <div class="jumbotron">
      <div class="container text-center">
        <h1 class="indie-flower-font">Welcome to Reciffy!</h1>
        <p>
          The Recipe App that Finds Recipes for you.
        </p>
        <p>
          Find recipes you love, and Reciffy will find your next favorite.
        </p>
        <p>
          Follow your friends, and see what they've been making.
        </p>
        <p>
          Enter your own recipes, or "fork" and remix one that already exists.
        </p>
        <p>
          Find food to get excited about!
        </p>
      </div>
    </div>

    <style>
      .pure-pusher {
        background-image: url("images/breakfast.jpg");
      }
    </style>
  <% end %>

  <% flash.clear %>
</div>
