<% unless user_signed_in? %>
  <div class="jumbotron">
    <div class="container">
      <h1 class="text-center">Welcome to Reciffy!</h1>
    </div>
  </div>
<% else %>
  <div ui-view></div>
<% end %>
