
  <div>
  <table class="table table-bordered">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Instructions</th>
      <th>Cook Time</th>
      <th>Prep Time</th>
    </thead>
    <tbody>
     <%= render partial: @recipes %>
    </tbody> 
  </table>
  </div>    

<% @recipes.each do |recipe| %>
  <%= link_to "#{recipe.name}", recipe_path(recipe) %>
<% end %>

