<div class="row">
  <div class="col-md-12">

    <table class="table table-bordered table-striped">

      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Instructions</th>
        <th>Cook Time</th>
        <th>Prep Time</th>
      </thead>

      <tbody>
        <% @recipes.each do |recipe| %>
          <%= render partial: "recipe", locals: { recipe: recipe } %>
        <% end %>
      </tbody>

    </table>

  </div>
</div>
