<div class="row">
  <h3 class="text-center">
       Made Recipes
  </h3>

  <div ng-repeat="madeRecipe in madeRecipes | orderBy : '-created_at'" class="recipe-holder">
    <div class="col-xs-6 col-sm-4 col-md-3" ng-if="recipes[madeRecipe.recipe_id]">

      <a ui-sref="reciffy.recipes.show({id: madeRecipe.recipe_id})">
        <recipe-directive recipe="recipes[madeRecipe.recipe_id]"></recipe-directive>
      </a>

    </div>
  </div>
</div>

<style>
  .pure-pusher {
    background-image: url("images/teacup.jpg");
    background-size: cover;
  }
</style>
