
<h3 class="text-center font:avalon;">
     My Recipes!
</h3>

<div class="row">
  <div ng-repeat="made_recipe in made_recipes">
    <div class="col-xs-6 col-sm-4 col-md-3 made-recipe-holder">
      <div class="panel panel-default made-recipe-preview">
        <div class="panel-heading">
          <h5>{{made_recipe.recipe.name}}
             <button class="btn btn-xs btn-danger pull-right" ng-click="removeMadeRecipe(made_recipe)">Remove</button> 
             <br>
              {{made_recipe.original_user.email}}
          </h5>
        </div>

        <div class="panel-body">
          <p>
            .....
          </p>
        </div>

        <div class="panel-footer subscription-panel-footer">
          <h5>
             ({{made_recipe.subscriptions.length}} subscriptions,
              {{made_recipe.receipes_by_original_user.length}} contributed recipes
          </h5>
        </div>

      </div>
    </div>
  </div>  
</div>


<div ui-view></div>