<div class="row">
  <h3 class="text-center">
       My Recipes
  </h3>

  <div ng-repeat="myRecipe in myRecipes | orderObjectBy : '-created_at'">
    <div class="col-xs-6 col-sm-4 col-md-3 made-recipe-holder" ng-if="recipes[myRecipe.id]">

      <a ui-sref="reciffy.recipes.show({id: myRecipe.id})">
        <recipe-directive recipe="recipes[myRecipe.id]"></recipe-directive>
      </a>

    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="panel panel-default recipe" ng-click="createRecipe()">
      <div class="panel-body recipe-body">
          <i class="plus glyphicon glyphicon-plus glyphicon-white" style="font-size: 25px; margin-top: 20px; color: white;">
        </i>
      </div>
    </div>
  </div>
</div>

<style>
  .pure-pusher {
    background-image: url("images/drink.jpg");
    background-size: cover;
  }
</style>
