<div class="row">
  <div class="col-xs-12">

    <a ui-sref="reciffy.recipes.all">All Recipes</a>

    <div class="panel panel-default">

      <div class="panel-heading">
        <h4>
        <span editable-text='currentStuff.recipe.name' onaftersave='updateMainRecipe()'
              e-ng-disabled='getDisabledStatus()'>
          {{currentStuff.recipe.name ? currentStuff.recipe.name : "Name"}}
        </span>
        </h4>

        <input-stars ng-model="currentStuff.rating.rating" max="5" ng-change="submitRating()"></input-stars>

        <p>
          <span editable-text='currentStuff.recipe.description' onaftersave='updateMainRecipe()'
                e-ng-disabled='getDisabledStatus()'>
          {{currentStuff.recipe.description ? currentStuff.recipe.description : "Description"}}
          </span>
        </p>
      </div>

      <div class="panel-body">
        <h6 class="pull-right">
          <em>Cooking Time:
            <span editable-text='currentStuff.recipe.cook_time' onaftersave='updateMainRecipe()'
                  e-ng-disabled='getDisabledStatus()'>
            {{currentStuff.recipe.cook_time ? currentStuff.recipe.cook_time : "0"}}
            </span>
            mins, Prep Time:
            <span editable-text='currentStuff.recipe.prep_time' onaftersave='updateMainRecipe()'
                  e-ng-disabled='getDisabledStatus()'>
            {{currentStuff.recipe.prep_time ? currentStuff.recipe.prep_time : "0"}}
            </span>
            mins
          </em>
        </h6>
        <h4>Ingredients
            <a>
            <i class="plus glyphicon glyphicon-plus glyphicon-white"
               ng-click="makeRecipeIngredient()" ng-hide='getDisabledStatus()'>
            </i>
            </a>
        </h4>

        <div ng-show='getMakeRecipeIngredient()'>

          <form editable-form name="RIForm" role="form" maxonaftersave="addRecipeIngredient()">
            <div class="row">
              <div class="form-group col-sm-2">
                <span class="title">Quantity
                <input type="text" maxlength="6"
                         name="r_quantity" class="form-control" ng-model="r_quantity">
                </span>
              </div>

              <div class="form-group col-sm-2">
                <span class="title">Unit
                <angucomplete-alt
                id="fld1"
                placeholder="Start typing an unit type..."
                pause="100"
                selected-object="r_unit"
                local-data="units"
                search-fields="unit_type"
                title-field="unit_type"
                minlength="1"
                override-suggestions="true"
                field-required="true"
                field-required-class="alert-danger"
                input-class="form-control"/>

                </span>
              </div>

              <div class="form-group col-sm-2">
                <span class="title">Ingredient

                <angucomplete-alt
                id="fld2"
                placeholder="Start typing an ingredient name..."
                pause="100"
                selected-object="r_ingredient"
                local-data="ingredients"
                search-fields="name"
                title-field="name"
                minlength="1"
                override-suggestions="true"
                field-required="true"
                field-required-class="alert-danger"
                input-class="form-control"/>
                </span>
              </div>

              <div class="form-group col-sm-2">
                <span class="title"> <br>
                <a>
                  <i class="check glyphicon glyphicon-check glyphicon-white"
                      ng-click="addRecipeIngredient()">
                  </i>
                </a>
                </span>
              </div>
            </div>
          </form>
        </div>

        <table class="table table-striped">
          <tbody>
            <tr ng-repeat="ri in currentStuff.recipe.recipe_ingredients">
              <td class="col-md-4"> {{ri.quantity | displayFraction}} {{ri.unit.unit_type}} {{ri.ingredient.name}}
              </td>
              <td ng-hide='getDisabledStatus()'>
                <a>
                  <i class="remove glyphicon glyphicon-remove glyphicon-white pull-left"
                     ng-click="deleteRecipeIngredient(ri)">
                  </i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <h4>Instructions</h4>

        <p>
          <span editable-textarea='currentStuff.recipe.instructions' onaftersave='updateMainRecipe()'
                e-ng-disabled='getDisabledStatus()' e-cols='75'>
            {{currentStuff.recipe.instructions ? currentStuff.recipe.instructions : "Instructions"}}
          </span>
        </p>

        <h4>Photo Gallery</h4>
        <div ng-repeat="photo in currentStuff.recipe.photos">
          <img ng-src="{{photo.url.large}}">
        </div>

        <input type="file" id="fileUpload" ng-show="false" upload-recipe-image ng-disabled='getDisabledStatus()' />
        <div class="drop-box" ng-click="openFileWindow()" ng-class=" {hidden: recipeImageLink}">
          Click to upload another recipe image.
        </div>

        <h4>Tags</h4>
        <div  class="tag label label-info"
              ng-repeat="tagging in currentStuff.recipe.taggings" >
          <span class="pull-left">
            <a ui-sref="reciffy.tags.show({id: tagging.tag_id})">
              {{tags[tagging.tag_id].name}}
            </a>&nbsp;|&nbsp;
          </span>
          <a>
            <i class="remove glyphicon glyphicon-remove glyphicon-white pull-right" ng-click="deleteTag(tagging.tag_id)">
            </i>
          </a>
        </div>
        <div class="input-group">
          <input type="text" ng-model="newTag.name" class="form-control input-sm" placeholder="Add a Tag...">
          <span class="input-group-btn">
            <button class="btn btn-info btn-sm" type="button" ng-click="addTag()">Tag It</button>
          </span>
        </div>

      </div>

      <div class="panel-footer">

        <button type="button" name="save"
                class="btn btn-primary"
                ng-click="createSavedRecipe(currentStuff.recipe.id, currentUser.id)"
                ng-if="showSaveButton(currentStuff.recipe.id, currentUser.id)">
          Save This Recipe
        </button>

        <button type="button" name="fork"
                class="btn btn-primary"
                ng-click="forkRecipe(currentStuff.recipe)">
          Fork This Recipe
        </button>

        <button type="button" name="made"
                class="btn btn-primary" ng-click="addMadeRecipe(currentStuff.recipe)"
                ng-hide="currentStuff.show_recipe_made">
          I Made This
        </button>

        <button type="button" name="delete"
                class="btn btn-danger pull-right"
                ng-click="deleteRecipe()"
                ng-hide="currentStuff.disabledStatus">
          Delete
        </button>

      </div>

    </div>

    <h4>Leave a Comment</h4>

    <form>

      <textarea ng-model="currentStuff.comment.comment_description" rows="8" cols="40" placeholder="What do you think?" class="form-control"></textarea>

      <input type="submit" value="Comment" ng-click="createComment()" class="btn btn-success">

    </form>

    <h4>All Comments</h4>

    <div class="comment" ng-repeat="comment in currentStuff.recipe.comments | orderBy : '-created_at'">

      <p>
        <strong>{{comment.profile.first_name}} {{comment.profile.last_name}}</strong> says:
      </p>

      <p>
        {{comment.comment_description}}
      </p>

      <button type="button" ng-click="deleteComment(comment)" class="btn btn-danger btn-xs" ng-if="commentDeletable(comment)">
        Delete
      </button>
    </div>

  </div>
</div>

<style>
  .pure-pusher {
    background-image: url("images/produce.jpg");
    background-size: cover;
  }
</style>
