<!-- Recommended Recipes -->
<div class="row">
  <h3>
    Recommended

    <button class="btn btn-xs btn-success" ng-click="moveLeft('recdRecipes')">
      <i class="chevron-left glyphicon glyphicon-chevron-left"></i>
    </button>

    <button class="btn btn-xs btn-success" ng-click="moveRight('recdRecipes')">
      <i class="chevron-right glyphicon glyphicon-chevron-right"></i>
    </button>
  </h3>

  <div ng-repeat="recipe in recdRecipes | limitTo : getPageEnd('recdRecipes') : getPageBegin('recdRecipes')">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" ng-if="recipes[recipe.id]">

      <a ui-sref="reciffy.recipes.show({id: recipe.id})">
        <recipe-directive recipe="recipe"></recipe-directive>
      </a>

    </div>
  </div>
</div>

<!-- Trending Recipes -->
<div class="row">
  <h3>
    Trending

    <button class="btn btn-xs btn-success" ng-click="moveLeft('trendingRecipes')">
      <i class="chevron-left glyphicon glyphicon-chevron-left"></i>
    </button>

    <button class="btn btn-xs btn-success" ng-click="moveRight('trendingRecipes')">
      <i class="chevron-right glyphicon glyphicon-chevron-right"></i>
    </button>
  </h3>
  <div ng-repeat="recipe in trendingRecipes | limitTo : getPageEnd('trendingRecipes') : getPageBegin('trendingRecipes')" class="recipe-holder">
    <div class="col-xs-6 col-sm-4 col-md-3" ng-if="recipes[recipe.id]">

      <a ui-sref="reciffy.recipes.show({id: recipe.id})">
        <recipe-directive recipe="recipe"></recipe-directive>
      </a>

    </div>
  </div>
</div>

<!-- Recent Recipes -->
<div class="row">
  <h3>
    Recent

    <button class="btn btn-xs btn-success" ng-click="moveLeft('recentRecipes')">
      <i class="chevron-left glyphicon glyphicon-chevron-left"></i>
    </button>

    <button class="btn btn-xs btn-success" ng-click="moveRight('recentRecipes')">
      <i class="chevron-right glyphicon glyphicon-chevron-right"></i>
    </button>
  </h3>

  <div ng-repeat="recipe in recentRecipes | orderObjectBy : '-created_at' |
                 limitTo : getPageEnd('recentRecipes') : getPageBegin('recentRecipes')"
      class="recipe-holder">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" ng-if="recipes[recipe.id]">

      <a ui-sref="reciffy.recipes.show({id: recipe.id})">
        <recipe-directive recipe="recipe"></recipe-directive>
      </a>

    </div>

  </div>
</div>

<!-- Highest Rated Recipes -->
<div class="row">

  <h3>
    Top Rated

    <button class="btn btn-xs btn-success" ng-click="moveLeft('topRecipes')">
      <i class="chevron-left glyphicon glyphicon-chevron-left"></i>
    </button>

    <button class="btn btn-xs btn-success" ng-click="moveRight('topRecipes')">
      <i class="chevron-right glyphicon glyphicon-chevron-right"></i>
    </button>
  </h3>

  <div ng-repeat="recipe in topRecipes |
      limitTo : getPageEnd('topRecipes') : getPageBegin('topRecipes')"
       class="recipe-holder">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" ng-if="recipes[recipe.id]">

      <a ui-sref="reciffy.recipes.show({id: recipe.id})">
        <recipe-directive recipe="recipe"></recipe-directive>
      </a>

    </div>
  </div>

</div>

<div infinite-scroll="loadMore()" infinite-scroll-disabled="noScroll()"></div>
