<div class="row">
  <div class="col-xs-12">

    <a ui-sref="reciffy.recipes.all">All Recipes</a>

    <div class="panel panel-default">

      <div class="panel-heading">
        <h4>
        <span editable-text='currentStuff.recipe.name' onaftersave='updateMainRecipe()'
              e-ng-disabled='disabledStatus'>
          {{currentStuff.recipe.name ? currentStuff.recipe.name : "Name"}}
        </span>
        </h4>
        <span>{{currentStuff.recipe.rating ? currentStuff.recipe.rating : "Rate this Recipe"}}</span>
        <p>
          <span editable-text='currentStuff.recipe.description' onaftersave='updateMainRecipe()'
                e-ng-disabled='disabledStatus'>
          {{currentStuff.recipe.description ? currentStuff.recipe.description : "Description"}}
          </span>
        </p>
      </div>

      <div class="panel-body">
        <h4>Ingredients</h4>
        <ul>
          <li ng-repeat="ri in currentStuff.recipe.recipe_ingredients">
            {{ri.quantity}} {{ri.unit.unit_type}} {{ri.ingredient.name}}
          </li>
        </ul>

        <h4>Instructions</h4>

        <p>
          <span editable-text='currentStuff.recipe.instructions' onaftersave='updateMainRecipe()'
                e-ng-disabled='disabledStatus'>
            {{currentStuff.recipe.instructions ? currentStuff.recipe.instructions : "Instructions"}}
          </span>
        </p>

        <h4>Photo Gallery</h4>
        <div ng-repeat="photo in currentStuff.recipe.photos">
          <img ng-src="{{photo.url.large}}">
        </div>

        <h4>Tags</h4>
        <div class="tag label label-info" ng-repeat="(id,tag) in tags" >
          <span class="pull-left">{{tag.name}} | </span>
          <a><i class="remove glyphicon glyphicon-remove glyphicon-white pull-right" ng-click="deleteTag(tag.id)"></i></a>
        </div>
        <div class="input-group">
          <input type="text" ng-model="newTag.name" class="form-control input-sm" placeholder="Add a Tag...">
          <span class="input-group-btn">
            <button class="btn btn-info btn-sm" type="button" ng-click="addTag()">Tag It</button>
          </span>
        </div>

      </div>

      <div class="panel-footer">
        <button type="button" name="save" class="btn btn-primary">Save This Recipe</button>
        <button type="button" name="fork" class="btn btn-primary">Fork This Recipe</button>
        <button type="button" name="made" ng-hide="show_recipe_made"
                class="btn btn-primary" ng-click="addMadeRecipe(recipe)">I Made This</button>
      </div>

    </div>

    <h4>Photos</h4>
    <div ng-repeat="photo in photos">
    </div>

    <h4>Leave a Comment</h4>
    <form>
      <textarea ng-model="comment.comment_description" rows="8" cols="40" placeholder="What do you think?" class="form-control"></textarea>
      <input type="submit" value="Comment" ng-click="createComment()" class="btn btn-success">
    </form>

    <h4>All Comments</h4>

    <div class="comment" ng-repeat="comment in comments | orderObjectBy : '-created_at'">
      <p>
        <strong>User {{comment.user.profile.first_name}} {{comment.user.profile.last_name}}</strong> says:
      </p>
      <p>
        {{comment.comment_description}}
      </p>
      <button type="button" ng-click="deleteComment(comment.id)" class="btn btn-danger btn-xs">Delete</button>
    </div>

  </div>
</div>
