<div class="row">

  <div class="row">
    <h3>Recommended</h3>
    <div ng-repeat="rec in recs | limitTo : 4">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

        <a ui-sref="reciffy.recipes.show({id: rec})">
          <recipe-directive recipe="recipes[rec]"></recipe-directive>
        </a>

      </div>
    </div>
  </div>

  <div class="row">
    <h3>Trending Recipes</h3>
    <div ng-repeat="recipe in trendingRecipes | limitTo : 4" class="recipe-holder">
      <div class="col-xs-6 col-sm-4 col-md-3">

        <a ui-sref="reciffy.recipes.show({id: recipe.id})">
          <recipe-directive recipe="recipe"></recipe-directive>
        </a>

      </div>
    </div>
  </div>

  <!-- New Recipes -->
  <div class="row">
    <h3>Recent</h3>
    <div ng-repeat="recipe in recentRecipes | orderBy : '-created_at' | limitTo : 4" class="recipe-holder">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

        <a ui-sref="reciffy.recipes.show({id: recipe.id})">
          <recipe-directive recipe="recipe"></recipe-directive>
        </a>

      </div>
    </div>
  </div>

  <!-- Highest Rated Recipes -->
  <div class="row">
    <h3>Top Rated</h3>
    <div ng-repeat="recipe in topRecipes" class="recipe-holder">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

        <a ui-sref="reciffy.recipes.show({id: recipe.id})">
          <recipe-directive recipe="recipe"></recipe-directive>
        </a>

      </div>
    </div>
  </div>
