<div class="row">
  <h3 class="text-center">
       Saved Recipes
  </h3>

  <div ng-repeat="savedRecipe in savedRecipes | orderObjectBy : '-created_at'" class="recipe-holder">

    <div class="col-xs-6 col-sm-4 col-md-3">

      <a ui-sref="reciffy.recipes.show({id: savedRecipe.recipe_id})">
        <recipe-directive recipe="recipes[savedRecipe.recipe_id]"></recipe-directive>
      </a>

    </div>

  </div>

</div>

<style>
  .pure-pusher {
    background-image: url("images/cookies.jpg");
    background-size: cover;
  }
</style>
