
<h3 class="text-center">
     Subscriptions!
</h3>

<div class="row">
  <div ng-repeat="subscription in subscriptions">
    <div class="col-xs-6 col-sm-4 col-md-3 subscription-holder">
      <div class="panel panel-default subscription-preview">
        <div class="panel-heading">
          <h5>{{subscription.profile.first_name}} {{subscription.profile.last_name}}
             <button class="btn btn-xs btn-danger pull-right" ng-click="removeSubscription(subscription)">Unsubscribe</button> 
             <br>
              {{subscription.subscription_receiver.email}}
          </h5>
        </div>

        <div class="panel-body">
          <p>
            {{subscription.subscriber_id}}
          </p>
        </div>

        <div class="panel-footer subscription-panel-footer">
          <h5>
             ({{subscription.subscriptions_by_receivers.length}} subscriptions,
              {{subscription.receipes_by_receivers.length}} contributed recipes,
              {{subscription.made_recipes_by_receivers.length}} recipes made)
          </h5>
        </div>

      </div>
    </div>
  </div>  
</div>


<div ui-view></div>