<h2 class="text-center">{{ tagHolder.tag.name }}</h2>

<h3>Users</h3>
<div class="row">
  <div ng-repeat="userId in tagHolder.userIds">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <a ui-sref="reciffy.users.show({id: userId})">
        <user-directive user="users[userId]"></user-directive>
      </a>
    </div>
  </div>
</div>

<h3>Recipes</h3>
<div class="row">
  <div ng-repeat="recipeId in tagHolder.recipeIds">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <a ui-sref="reciffy.recipes.show({id: recipeId})">
        <recipe-directive recipe="recipes[recipeId]"></recipe-directive>
      </a>
    </div>
  </div>
</div>
