<div class="row">
  <div class="col-xs-12">

    <div class="panel panel-default">

      <div class="panel-heading">
        <span editable-text='profile.first_name' onaftersave='updateUserProfile()' e-ng-disabled='disabledStatus'>{{profile.first_name}}</span>
        <span editable-text='profile.last_name' onaftersave='updateUserProfile()' e-ng-disabled='disabledStatus'>{{profile.last_name}}</span>
        <button type="button" name="made" ng-hide="user_subscribed"
                class="btn btn-xs btn-success pull-right"
                ng-click="addSubscriber(user)">Subscribe to me!
        </button>
      </div>

      <div class="panel-body">
        <h4>Avatar</h4>
        <img ng-src="{{avatar}}"></img>
        <input type="file" id="fileUpload" ng-show="false" upload-image />
        <div class="drop-box" ng-click="openFileWindow()" ng-class=" {hidden: userImageLink}" ng-show='avatarChangeEnabled'>
            Click to choose a new avatar.
        </div>

        <h4>Tagline</h4>
        <p editable-text='profile.tagline' onaftersave='updateUserProfile()' e-ng-disabled='disabledStatus'>{{profile.tagline}}</p>

        <h4>Bio</h4>
        <p editable-textarea='profile.bio' onaftersave='updateUserProfile()' e-ng-disabled='disabledStatus'>
          {{profile.bio}}
        </p>

        <h4>City</h4>
          <p editable-text='profile.city' onaftersave='updateUserProfile()' e-ng-disabled='disabledStatus'>{{profile.city}}</p>
        <h4>State</h4>
        <p editable-text='profile.state' onaftersave='updateUserProfile()' e-ng-disabled='disabledStatus'>{{profile.state}}</p>
        <h4>Tags</h4>
        <div class="tag label label-info" ng-repeat="tag in tags" >
          <span class="pull-left"><a ui-sref="reciffy.tags.show({id: tag.id})">{{tag.name}}</a> | </span>
          <a><i class="remove glyphicon glyphicon-remove glyphicon-white pull-right" ng-click="deleteTag(tag.id)"></i></a>
        </div>
        <div class="input-group">
          <input type="text" ng-model="newTag.name" class="form-control input-sm" placeholder="Add a Tag..." ng-disabled='disabledStatus'>
          <span class="input-group-btn">
            <button class="btn btn-info btn-sm" type="button" ng-click="addTag()">Tag It</button>
          </span>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <div class="panel panel-default">

      <div class="panel-heading">
        <h4>Recipes</h4>
      </div>

      <div class="panel-body">
        <div ng-repeat='recipe in userRecipes'>
          <a ui-sref='reciffy.recipes.show({id: recipe.id})'>
            {{recipe.name}}
          </a>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <div class="panel panel-default">

      <div class="panel-heading">
        <h4>Made Recipes</h4>
      </div>

      <div class="panel-body">
        <div ng-repeat='recipe in userMadeRecipes'>
          <a ui-sref='reciffy.recipes.show({id: recipe.id})'>
            {{recipe.name}}
          </a>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="row">
  <div class="col-xs-12">

    <div class="panel panel-default">

      <div class="panel-heading">
        <h4>Saved Recipes</h4>
      </div>

      <div class="panel-body">
        <div ng-repeat='recipe in userSavedRecipes'>
          <a ui-sref='reciffy.recipes.show({id: recipe.id})'>
            {{recipe.name}}
          </a>
        </div>
      </div>

    </div>

  </div>
</div>

<style>
  .pure-pusher {
    background-image: url("images/pancakes.jpg");
    background-size: cover;
  }
</style>
