<div class="row">
  <div class="col-md-12">
    <% flash.each do |type, message| %>

      <% type = rails_to_bootstrap_flash(type) %>

      <%= content_tag :div, message, class: "alert alert-#{type}" %>
    <% end %>
  </div>
</div>
