<section class="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid text-center">
      <p class="navbar-text">
        © 2016 Reciffy Group at Viking Code School
      </p>
      <p class="navbar-text navbar-right">
        <a href="https://github.com/JMazzy/reciffy">On Github</a>
      </p>
    </div>
  </nav>
</section>
