<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-4">
        <div class="col-xs-4 col-xs-offset-4">
          <% if user_signed_in? %>
            <h1 class="text-center indie-flower-font nav-brand" ui-sref="reciffy.recipes.all">Reciffy</h1>
          <% else %>
            <h1 class="text-center indie-flower-font nav-brand">Reciffy</h1>
          <% end %>
        </div>
      </div>
      <div class="col-xs-4" ng-controller="searchbarCtrl">
        <% if user_signed_in? %>
        <!-- Search Bar -->
          <form action="" class="form-inline search-form pull-right">
            <div class="input-group">
              <input type="text" class="form-control search-input" name="" id="" placeholder="Search by Tags" ng-model="searchString" search-on-keydown="searchByTag(searchString)">
              <!-- <span class="input-group-btn">
                <button type="submit" class="btn btn-success search-btn" data-target="#search-input">
                  <div class="glyphicon glyphicon-search"></div>
                </button>
              </span> -->
            </div>
          </form>
        <% else %>
        <div class="pull-right nav-auth-cta">
          <%= link_to "Sign In", new_user_session_path, class: "btn btn-success navbar-btn" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary navbar-btn" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
