<div class="row">
  <div class="col-md-8 col-md-offset-2">

    {{#each model as |recipe|}}

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>{{#link-to "recipes.show" recipe}}{{recipe.name}}{{/link-to}}</h4>
        </div>
        <div class="panel-body">
          <p>
            {{recipe.description}}
          </p>
        </div>
      </div>

    {{/each}}

  </div>
</div>
