<div class="row">

  {{#each model as |made-recipe|}}
    <div class="col-xs-6 col-sm-4 col-md-3 made-recipe-holder">
      <div class="panel panel-default made-recipe-preview">

        <div class="panel-heading">
          <h5>{{#link-to "made_recipes.show" made-recipe}}
           {{made-recipe.profile.first_name}} {{made-recipe.profile.last_name}}
           {{/link-to}}
           <br> 
            ({{made-recipe.subscriptions.length}} subscriptions)
          </h5>
        </div>

        <div class="panel-body">
          <p>
            ....
          </p>
        </div>

      </div>
    </div>
  {{/each}}

</div>

{{outlet}}
