<div clas="row">
  <div class="col-xs-12 white-bg text-center">
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <div class="form-group">
        <%= form_for @photo do |f| %>
          <h3>Select a photo from your hard drive...</h3>
          <%= f.text_field :photo, { class: "form-control", value: nil,  placeholder: "URL here", style: "margin: 10px auto;" } %>
          <%= f.submit "Use Web Photo", class: "btn btn-primary", style: "margin: 10px" %>
        <% end %>
      </div>
      </div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>Or</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <div class="form-group">
        <%= form_for @photo do |f| %>
          <h3>Select a photo from your hard drive...</h3>
          <%= f.hidden_field :recipe_id %>
          <%= f.file_field :photo, style: "margin: 10px auto;" %>
          <%= f.submit "Upload Photo", class: "btn btn-primary", style: "margin: 10px" %>
        <% end %>
      </div>
      </div>
      <div class="col-xs-3"></div>
    </div>
  </div>
</div>
