/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "pure-drawer";

/************************/
/* Reciffy Color Scheme */
/************************/

$dark-green: #4b6314;
$light-green: #aaa336;
$tea-color: #ce8636;
$table-color: #4c453e;
$white: #fff;
$menu-grey: #4C453F;
$menu-hover: #2E2A26;
$menu-green: #238843;

/*************************/
/* Reciffy Font Families */
/*************************/

@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
// To use,
// font-family: 'Indie Flower', cursive;

.indie-flower-font {
  font-family: 'Indie Flower', cursive;
}

/**********/
/* Navbar */
/**********/

.navbar {
  height: 75px;
  border-radius: 0;
}

/* Sign In, Sign Out Links */

.nav-auth-cta {
  margin-top: 10px;
}

/* Search Bar */

.search-form {
  margin-top: 20px;
}

.search-input {
    border-radius: 30px 0px 0px 30px;
    /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}
.search-btn {
   border-radius: 0px 30px 30px 0px;
   cursor:pointer;
}

/***************/
/* Hidden Menu */
/***************/

.hidden-menu-container {
  margin-top: 75px;
}

.menu-item-container {
  margin-top: -1px;
  padding: 0;
  border-top: 1px solid $toggler-color;
  border-bottom: 1px solid $toggler-color;
  height: 75px;
  color: #fff;
  display: block;
  &:hover, &:focus, &:active {
    color: #fff;
    background: rgba(0,0,0,0.4);
    text-decoration: none;
  }
}

.menu-item-text {
  font-size: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 30px;
}

/******************/
/* Recipe Display */
/******************/
a, a:-webkit-any-link {
  text-decoration: none;
}

div.panel {
  border-color: $menu-green;
  box-shadow: 1px 1px 1px $menu-hover;
  color: $menu-grey;

  div.panel-heading, .panel-footer {
    background-color: $menu-grey;
    color: $white;
    border: none;

    color: $white;
    div:hover {
      color: $white;
      background-color: $menu-hover;
    }
    div:visited {
      color: $white;
    }
  }
}

.recipe-preview {
  height: 200px;
}

#error_explanation {
  border: 1px solid rgb(235, 204, 209);
  color: rgb(169, 68, 66);
  background-color: rgb(242, 222, 222);
  border-radius: 5px;
  padding: 5px;
  text-align: center;

  li {
    list-style: none;
    list-style-type: none;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
  }
}

.tag {
  font-size: 14px;
  padding: 2px, 1px;
  margin: 0.1em;
  display: inline-block;
  line-height: 16px;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
  vertical-align: bottom;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
}
.tag a {
  margin: 1px 0 0 1px;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}
